.card-temperature {
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.card-header{
  background-color: transparent !important;
}

body{
  background-color: var(--Antique-white) !important;
}

.card-info {
  font-size: small;
  font-weight: lighter; 
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.unselectedcard {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin: 0.2em;
  border-radius: 8px; 
  cursor: pointer;
  font-weight: bold;
  color: var(--Antique-white)  !important;
  max-height: 250px;
  background-color: var(--Dark-slate-gray) !important; 
}

.card-info{
  color: var(--Antique-white) !important;
}
.card:hover {
  box-shadow: 0 0 1em #00000066;
  font-family: "Audiowide", serif; 
  font-style: normal; 
  font-size: 12px;
  transition:  font-size 0.7s; 
}

.card:hover .card-info {
  display: block;
}

.card:hover .time {
  display: block;
}

.card-info {
  display: none;
}

.time {
  display: none;
}

.days {
  display: flex;
  justify-content: space-between; 
}

.search-container {
  position: relative;
  color: var(--Pine-green);
}

.suggestions-container {
  top: 100%;
  z-index: 1000;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
}

.suggestion-item:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}
